@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('http://mmwebfonts.comquas.com/fonts/?font=pyidaungsu');

body {
	background-color: white;
}
p {
	font-size: 18px;
}
.mm {
	font-family:Pyidaungsu;
}
.mm p {
	font-family:Pyidaungsu;
}
.banner {
	margin-top: 50px;
	margin-bottom: 50px;
}
.banner-text {
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	color: #2e3d49;
	font-weight: 300;
}
.banner-text-slogan {
	font-family: "Open Sans", sans-serif;
	margin-top: 30px;
	font-size: 1.5em;
	color: #525c65;
}
.instructor {
	padding: 50px 0;
	background: #fafbfc;
}
.header {
	font-family: "Open Sans", sans-serif;
	font-size: 1.8em;
	color: #2e3d49;
	font-weight: 300;
	/*margin-bottom: 50px;*/
}
.avatar img {
	height: 300px;
}
.course {
	padding: 50px 0;
}
.course-banner {
	background: url("images/banner.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	padding: 80px 0;
}
.course-banner > .header {
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 2.3em;
	font-weight: 00;
	letter-spacing: 1px;
	word-spacing: 3px;
	margin-bottom: 0;
}
.content {
	line-height: 2.2em;
	font-size: 1.2em;
	font-weight: 300;
}
.line {
	border-top: 2px solid #525c65;
	width: 100px;
}

.map {
	padding: 50px 0;
	background: #fafbfc;
}
.footer {
	color: #99979C;
	background: black;
	padding: 100px 0;
	text-align: center;
}
.footer a {
	color: #FAFAFA;
}
.course-banner1 {
	background: #3f51b5;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	padding: 80px 0;
}
.course-banner2 {
	background: #FF4081;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	padding: 80px 0;
}
.course-banner1 > .header, .course-banner2 > .header {
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	font-weight: 00;
	letter-spacing: 1px;
	word-spacing: 3px;
	margin-bottom: 0;
}
.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.map-container iframe,   
.map-container object,  
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mt50 {
	margin-top: 50px;
}
.mb50 {
	margin-bottom: 50px;
}
.info h1, p {
	font-family: "Open Sans", sans-serif;
}